.DS_Store
program/target/
scripts/node_modules/
artifacts/circuits/powersOfTau28_hez_final_18.ptau
artifacts/circuits/transaction2_0.zkey
anchor/.anchor
anchor/.DS_Store
anchor/target
anchor/**/*.rs.bk
anchor/node_modules
anchor/test-ledger
anchor/.yarn
anchor/deploy-keypair.json
anchor/zkcash-keypair.json
indexer/node_modules
indexer/build
indexer/dist
indexer/.env
indexer/.env.local
indexer/.env.*.local
indexer/.vscode
indexer/.yarn
indexer/.DS_Store
indexer/relayer_fee_payer_keypair.json
scripts/script_keypair.json
